---
import Navbar from "../components/Navbar.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <!-- Primary Meta Tags -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Keith's Portfolio</title>
    <meta
      name="description"
      content="Keith's personal portfolio showcasing experience in software engineering, photography, and technical skills."
    />
    <!-- …your other metas… -->

    <!-- Devicon Icon Font -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css"
    />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body class="flex flex-col min-h-screen dark">
    <Navbar />
    <main
      class="flex-grow h-screen scroll-smooth dark:bg-[#121212]"
    >
      <slot />
    </main>
  </body>
</html>
